
*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: #ffffff;
    font-family: Microsoft YaHei!important;
    color: #333;
	font-size: 15px;
}
a{
    text-decoration:none;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.ellipsis{
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.hidden{
    display: none;
}
ul,li{
    list-style: none;
}
button{
    font-family: Microsoft YaHei!important;
}
input,select{
    border-radius: 4px!important;
}

button,input,select{
    outline: none;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
button.query{
    padding: 0.4rem 1rem 0.4rem 1rem!important;
    font-size: 0.8rem!important;
    font-family: Microsoft YaHei!important;
    border-radius: 4px;
}
.cur-year{
    box-shadow: none!important;
}