<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航页</title>
</head>
<body>
    <header>
    </header>
    <section class="content">
        <nav id="menuTree">
            <ul>
                <li><a targetname="RESOURCEM">资源管理</a></li>
                <li><a targetname="RESOURCEM_DPI">资源管理(DPI)</a></li>
                <li><a targetname="CUSTOMER">客户管理</a></li>
                <li><a targetname="CUSTOMER_DPI">客户管理(DPI)</a></li>
                <li><a targetname="PROCESSLOG">流程日志</a></li>
                <li><a targetname="PROCESSLOG_DPI">流程日志(DPI)</a></li>
                <li><a targetname="DETAILLOG">详细日志</a></li>
                <li><a targetname="DETAILLOG_DPI">详细日志(DPI)</a></li>
            </ul>
        </nav>
        <iframe src="" frameborder="0"></iframe>
    </section>
</body>
</html>